<html>
    <head>
        <title> Taxi Express</title>   
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
    </head>
    <body>
      
      
      <% if user_signed_in? %>
       
        <%= render "partials/header" %>
    
         <%= yield %>
                    </div>
                </div>              
                 <!-- /. ROW  -->
            </div>
        </div>
        </div>	
    
        <% else %>
            <%= render "partials/header_login" %>
            
             <%= yield %>       
        </div>
       	
      <% end %>
      
      
      
    </body></html>