<p id="notice"><%= notice %></p>

<h1>Listing Services</h1>



<table class="table table-bordered">
  <thead>
    <tr>
      <th>Ruta</th>
      <th>Cant. Pasajeros</th>
      <th>Tipo carro</th>
      <th>Met. Pago</th>
      <th>Comentario</th>
      <th>Estado</th>
      <% if current_user.user_type != "C" %>
      <th>Cliente</td>
      <% end %>
      <th>Chofer</td>
      <th>Precio</td>
      <th colspan="4">Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% @services.each do |service| %>
      <tr>
        <td><%= service.route.description_2 %></td>
        <td><%= service.num_passenger %></td>
        <td><%= service.car_type %></td>
        <td><%= service.pay_method_description %></td>
        <td><%= service.feedback %></td>
        <td><%= service.state == "R" ? "Reserved" : service.state == "S" ? "Service" : "End Service"  %></td>
        <% if current_user.user_type != "C" %>
        <td>
          <%= service.full_name_customer %>
          
        </td>
        <% end %>
        
        <td>
            
        <% if service.user_driver  %>
          <%= service.user_driver.name %>
          <% else %>
          Por asignar
        <% end %>
        
        </td>
        
        <td>
          <%= service.route.price %>
        </td>
          
        <td><%= link_to 'Show', service %></td>
        <td><%= link_to 'Edit', edit_service_path(service) %></td>
        <td><%= link_to 'to Finish', finish_service_path(service) %></td>
        <td>
           <% if current_user.user_type != "D" %>
          <%= link_to 'Destroy', service, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
          </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if current_user.user_type == "C" %>
<%= link_to 'New Service', new_service_path %>
 <% end %>
